html{font-size:10px}

.linktocv {
    font-size: 3.3rem;
    color:     #8e8E8E;
}

.nvb {
    border-radius: 4px;
    width: 11rem;
    float:right;
    margin-right: 5rem;
    margin-top: 5rem;
    position:fixed;
    top: 3%;
    left: 89%;
    color: #29B6F6;

}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #29B6F6;
}

.container {
  border-radius: 0.8rem;
  height: 94%;
  width: 27%;
  position: fixed;
  z-index: 1;
  top: 6%;
  left: 5%;
  background-color: #29B6F6;
  overflow-x: hidden;
}

.sidebar a {
  padding: 0.3rem 0.8rem 0.6rem 1.6rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: #818181;
  display: block;
}

.rightbar {
  border-radius: 0.8rem;
  height: 96%;
  width: 52%;
  position: fixed;
  z-index: 1;
  top: 6%;
  left: 35%;
  background-color: white;
  overflow-x: hidden;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.title img{
    display:block;margin:0 auto 1.5rem;width:12rem;
}

.someRight,.Right {
    list-style: none;
}

.someRight dt{
    color: #FFFFFF;
    white-space:nowrap;
}

.Right dt{
    color: #29B6F6;
    font-size: 2.5rem;
    white-space:nowrap;
}

.someRight dd{
    color: #FFFFFF;
    white-space:nowrap;
    text-align: left;
}

.Right dd{
    color: black;
    white-space:nowrap;
    text-align: left;
}

.title h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 3rem;
}

.someRight a {
    color: #FFFFFF;
    text-align: left;
    font-size: 1.5rem;

}

.note p{
    padding-top: 1.5rem;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
}


.circular--square img{
    border-radius:50%;
}

#edu {
    padding-top: 6rem;
}

#edu dd{
    font-size: 1.6rem;
}

#per dd{
    font-size: 1.6rem;
}


#ski {
    padding-top: 6rem;
}

body {
    min-width: 1200px;
    overflow:scroll;
}