html{font-size:10px}

.webpic img{
    float:left;
    margin:1rem;
}

br {
    clear:both;
}

.pjlist {
    margin-top:5rem;
    margin-left:5rem;
}



code {
   font: 17px Monaco;
   line-height:23px;
}
pre {
   width: 80%;
   background: #333;
   color: white;
   padding: 20px;
   margin: 0 0 20px 0; /* Probably the same as paragraphs */
}